<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: head}"></div>
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <th:block>
                    <h1>
                        Creating a new Pizza
                    </h1>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <!-- Form -->
                                <form id="pizza-form" th:action="@{/pizzas/create}" th:object="${pizza}" method="post">
                                    <div class="mb-3">
                                        <label class="form-label" for="nome">Nome: </label>
                                        <input class="form-control" type="text" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                                            <ul>
                                                <li th:each="error : ${#fields.errors('nome')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="descrizione">Descrizione: </label>
                                        <textarea class="form-control" id="descrizione" th:field="*{descrizione}" th:errorClass="is-invalid"></textarea>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('descrizione')}">
                                            <ul>
                                                <li th:each="error : ${#fields.errors('descrizione')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="immagine">Url dell'immagine: </label>
                                        <input class="form-control" type="text" id="immagine" th:field="*{fotoUrl}" th:errorClass="is-invalid">
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fotoUrl')}">
                                            <ul>
                                                <li th:each="error : ${#fields.errors('fotoUrl')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="prezzo">Prezzo: </label>
                                        <input class="form-control" type="number" step="0.01" min="0.01" id="prezzo" th:field="*{prezzo}" th:errorClass="is-invalid">
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('prezzo')}">
                                            <ul>
                                                <li th:each="error : ${#fields.errors('prezzo')}" th:text="${error}" />
                                            </ul>
                                        </div>
                                    </div>
                                    <div th:each="ingrediente : ${ingredienti}">
                                        <input  type="checkbox" th:field="*{ingredienti}" th:value="${ingrediente.id}">
                                        <span th:text="${ingrediente.nome}"></span>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-between">
                                        <input type="submit" class="btn btn-primary" value="Crea una nuova pizza">
                                        <input type="reset" class="btn btn-warning" value="Resetta i valori">
                                    </div>
                                </form>
                            </div>
                        </div>
                </th:block>
            </div>
        </div>
    </main>
</body>

</html>